$font-size-normal: 1.4rem;
$font-size-small: 1.2rem;

$color-white: #fff;
$color-white-loader: #ffffff6b;
$color-blue: #0969da;
$color-light-blue: #096bda9d;
$color-orange: #faa356;
$color-medium-gray: #57606a;
$color-light-gray: #c6cdd5;
$color-extra-light-gray: #c6cdd5be;
