@import "src/styles/mixins";
@import "src/styles/variables";

.searchbar {
  margin: 0 2rem;

  &__container {
    @include display-flex(inline, inline, column);
  }

  &__error-message {
    color: red;
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  &__autocomplete-option {
    &:hover {
      background-color: $color-light-gray;
    }
  }
}
